<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>User panel</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <div>
                <span class="fw-bold" th:text="${#authentication.name}">USERNAME</span>
                <span> with role(s): </span>
                <span sec:authorize="hasRole('ROLE_ADMIN')">Admin</span>
                <span sec:authorize="hasRole('ROLE_USER')"> User</span>
            </div>
            <a class="text-decoration-none font-weight-bold text-secondary" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</header>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-11">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane show active" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <h3 class="text-left">
                        Profile
                    </h3>
                    <div class="tab-content" id="profileTabContent">
                        <div class="tab-pane fade show active" id="profile_home" role="tabpanel"
                             aria-labelledby="userlist-tab">
                            <div class="card">
                                <h5 class="card-header">
                                    About user
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Age</th>
                                            <th>Username</th>
                                            <th>Role(s)</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody_user_list">
                                        <tr>
                                            <td th:text="${#request.userPrincipal.principal.id}">ID</td>
                                            <td th:text="${#request.userPrincipal.principal.firstname}">FIRSTNAME</td>
                                            <td th:text="${#request.userPrincipal.principal.lastname}">LASTNAME</td>
                                            <td th:text="${#request.userPrincipal.principal.age}">AGE</td>
                                            <td th:text="${#request.userPrincipal.principal.username}">USERNAME</td>
                                            <td>
                                                <th:block th:each="role, iter : ${#authentication.getAuthorities()}">
																<span th:if="${role.getAuthority().startsWith('ROLE_')}"
                                                                      th:text="${role.getAuthority().replaceFirst('ROLE_', '')}"></span>
                                                    <th:block th:if="${!iter.last}"></th:block>
                                                </th:block>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>